name: 'Unit Tests'
on: # rebuild any PRs and main branch changes
   pull_request:
   push:
      branches:
         - main
         - 'releases/*'

jobs:
   build: # make sure build/ci works properly
      name: Run Unit Tests
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
         - name: npm install
           id: npm-install
           run: |
              npm install
         - name: Run npm test
           id: npm-test
           run: |
              npm test
